* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
}

.container {
  max-width: 1200px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
}

.header {
  background-image: url(../images/first-bg.jpg);
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-bottom: 120px; */
}

.header__inner {
  position: relative;
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.menu {
  max-width: 100%;
  text-align: right;
}

.menu li {
  text-transform: uppercase;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.menu a {
  color: #ffffff;
  margin: 40px 0 0 30px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  transition: linear .3s;
}

.menu a:hover {
  color: #222222;
  background-color: #fed136;
  box-shadow: 0 16px 23px .25px #000000b0;
}

.header__text {
  text-transform: uppercase;
  position: absolute;
  font-size: 40px;
  font-weight: 400;
  line-height: 85px;
  min-width: 100%;
  margin: 35vh auto;
  text-align: center;
  color: #ffffff;
}


.header__text span {
  font-size: 75px;
  font-weight: 700;
  line-height: 180px;
}

.header__btn {
  position: absolute;
  width: 100%;
  align-items: center;
  margin: 33px auto;
  text-align: center;
}

.header__btn a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 25px 55px;
  border-radius: 4px;
  text-decoration: none;
  color: #222222;
  background-color: #fed136;
  transition: linear .2s;
}

.header__btn a:hover {
  color: #fffccc;
  font-size: 24px;
  text-shadow: 3px 3px 6px #222222, 0 0 7px #ffffff;
  box-shadow: 0 36px 43px .15px #000000ce;
}

.service {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 125px;
}

.service__text {
  font-size: 16px;
  color: #777777;
  margin-bottom: 43px;
}

.service__items {
  display: flex;
  justify-content: space-between;
}

.service__item {
  max-width: 305px;
}

.service__item-icon {
  margin: 0 auto;
  text-align: center;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  margin-bottom: 25px;
}

.service__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.service__item-text {
  color: #777777;
}

.portfolio {
  background-color: #f7f7f7;
  text-align: center;
}

.portfolio__text {
  font-size: 16px;
  margin-bottom: 80px;
  color: #777777;
}

.portfolio__items {
  display: flex;
  justify-content: space-around;
}

.portfolio__item {
  width: 290px;
  height: 300px;
  margin-bottom: 135px;
  box-shadow: 0 16px 13px .15px #00000036;
  transition: all .5s;
}

.portfolio__item:hover {
  cursor: pointer;
  transform: scale(1.12);
}

.portfolio__item img {
  height: 100%;
  width: 100%;
}

.about {
  text-align: center;
}

.about__text {
  font-size: 16px;
  margin-bottom: 80px;
  color: #777777;
}

.about__item {
  margin-bottom: 90px;
  height: 185px;
  position: relative;
}

.about__item-img img{
  height: 183px;
  width: 183px;
  border-radius: 50%;
  box-shadow: 0 0 13px .5px #00000036;
}

.about__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
}

.about__item-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #222222;
}

.about__item-text {
  font-size: 14px;
  line-height: 20px;
  color: #777777;
}

.about__item:nth-child(odd) .about__item-content {
  padding-left: 200px;
  text-align: right;
  left: 0;
}

.about__item:nth-child(even) .about__item-content {
  padding-right: 200px;
  text-align: left;
  right: 0;
}

.about__item-title span {
  text-transform: uppercase;
}

.footer {
  padding-top: 30px;
  text-align: center;
  height: 130px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  background-color: #f7f7f7;
}