@media( max-width: 1620px) {
  .advantages {
    background-image: none;
  }
}

@media( max-width: 1201px) {
  .specialised {
    background-size: 60px;
  }
}

@media( max-width: 1190px) {
  .header-slider__item-img {
    margin: 50px 20px 0 0;
  }
  .header-slider__item-img img {
    width: 80%;
  }
  .header-slider__item-info {
    padding: 50px 0;
  }
  .header-slider {
    margin-top: 25px;
  }
  .advantages-box {
    justify-content: space-around;
  }
  .advantages-box__img {
    text-align: center;
  }
  .advantages-box__img img {
    width: 80%;
  }
}

@media( max-width: 1080px) {
  .specialised {
    background-image: none;
  }
  .advantages-box__info {
    padding-top: 10px;
  }
  .advantages-box__title {
    padding: 38px 0 15px 28px;
  }
  .advantages-box__text {
    padding-left: 28px
  }
  .reviews__item {
    margin-bottom: 15px;
  }
}

@media( max-width: 924px) {
  .header__top {
    flex-wrap: wrap;
  }
  .header-btn {
    width: 100%;
    text-align: right;
  }
  .login {
    margin-right: 30px;
  }
  .header-slider__item-img {
    display: none;
  }
}

@media( max-width: 858px) {
  .specialised {
    padding: 25px 0 15px;
  }
  .advantages-box__info {
    max-width: 100%;
  }
  .advantages-box {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .advantages {
    padding-top: 0;
  }
  .advantages-box__img img {
    width: 100%;
  }
}

@media( max-width: 775px) {
  .specialised_items {
    padding: 20px 0 40px;
  }
  .specialised__title {
    margin-bottom: 40px;
  }
  .specialised_items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .specialised__item {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media( max-width: 670px) {
  .reviews__item {
    width: 100%;
  }
  .footer__inner {
    display: block;
    text-align: center;
  }
  .footer__link {
    margin-bottom: 10px;
  }
}

@media( max-width: 570px) {
  .menu__list {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
  }
  .menu__list li {
    margin-bottom: 7px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: #28509b;
  }
  .menu__list li+li {
    padding-left: 0;
  }
  .menu__list a {
    display: block;
    padding: 10px 0;
    opacity: 1;
  }
  .menu__btn {
    width: 30px;
    height: 20px;
    position: relative;
  }
  .menu__btn::after, .menu__btn::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu__btn span {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    top: 9px;
    position: absolute;
  }
  .menu__btn::after {
    top: 0;
  }
  .menu__btn::before {
    bottom: 0;
  }
  .header-slider__item-info {
    padding: 10px 30px 10px 0;
  }
  .header {
    min-height: 582px;
  }
  .header-slider__description {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 35px;
  }
  .header-slider__title {
    font-size: 35px;
    line-height: 45px;
  }
  .specialised_items {
    flex-wrap: block;
  }
  .specialised__item {
    width: 100%;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
  }
  .advantages-box__title {
    font-size: 30px;
    line-height: 40px;
    padding: 68px 0 15px 0px;
  }
  .advantages-box__text {
    padding-left: 0px;
  }
  .footer__inner {
    padding: 20px 30px 17px;
  }
}

/* ========================================== */

@media( min-width: 571px) {
  .menu__list {
    display: flex !important;
  }
}